; This file contains the values to generate the templates.
; Copy in config-dev.ini and config-prod.ini to correctly generate templates

prod = false

; We must generate a template for all these devices. To do that, we must loop
; over this array. Thus devices cannot go into default.
; index is for desktop
devices[] = index
devices[] = embed
devices[] = mobile

[default]
api_url = //api.geoadmin.local
public_url = //public.geoadmin.local
apache_base_path = /
default_topic_id = geojb
topics[] = geojb
translation_fallback_code = fr
languages[] = fr
languages[] = de
languages[] = en
; JSON.parse since 20150528 Beware to syntax
default_extent = "'[550000.0, 210000.0, 620000.0, 245000.0]'"
default_resolution = 50.0
external_wms_hostnames =  "'[\"www.geoservice.apps.be.ch\"]'"
