<label>
  <input type="radio"
         name="drawingSave"
         value="no"
         ng-model="drawingSave">
  <span translate>draw_save_disable</span>
</label>
<label>
  <input type="radio"
         name="drawingSave"
         value="server"
         ng-model="drawingSave"
         checked>
  <span translate>draw_save_server</span>
</label>
<label>
  <input type="radio"
         name="drawingSave"
         value="custom"
         ng-model="drawingSave">
  <span translate>draw_save_webdav</span>
</label>
