<div>
  <form ng-class="{'has-error': error}">
    <input type="url" name="url" autocomplete="off" placeholder="{{'choose_wms_url' | translate}}"
      ng-model="fileUrl" required class="form-control"/>
    <div class="ga-import-ows-open icon-collapse"></div>
    <button type="button" class="btn btn-default ga-import-ows-connect"
            ng-click="handleFileUrl()" translate>connect</button>
    <div class="ga-message">{{userMessage}}</div>
  </form>
  <div class="ga-import-ows-container">
    <div class="ga-import-ows-header" ng-click="reverse = !reverse">
      <label translate>title</label>
      <button class="pull-right" ng-class="{
        'icon-sort-by-alphabet': !reverse,
        'icon-sort-by-alphabet-alt': reverse
      }"></button>
    </div>
    <div class="ga-import-ows-content">
      <ul>
        <li ng-repeat="layer in layers | orderBy:'Title':reverse">
          <div ga-import-ows-item></div>
        </li>
      </ul>
    </div>
    <div class="modal-backdrop fade in" ng-show="progress > 0 && progress < 100">
      <div class="progress progress-striped active">
        <div class="progress-bar" style="width: 100%;"></div>
      </div>
    </div>
  </div>
  <div class="ga-import-ows-descr">
    <label translate>description</label>
    <textarea ng-if="options.owsType === 'WMS'" placeholder="{{'description_instructions' | translate}}" class="form-control" readonly>{{getAbstract()}}</textarea>
    <textarea ng-if="options.owsType === 'WMTS'" placeholder="{{'description_instructions_wmts' | translate}}" class="form-control" readonly>{{getAbstract()}}</textarea>
    <button type="button" class="btn btn-default ga-import-ows-add"
    ng-disabled="(options.layerSelected && options.layerSelected.isInvalid)" ng-click="addLayerSelected()" translate>add_layer</button>
  </div>
</div>
