@tooltip-width: 450;
@tooltip-height: 600;

.ga-features-popup {

  .popover-content {
    padding: 0px;
  }

  td {
    padding-left: 5px;
    padding-right: 14px;
    border: 1px solid #000000;
  }

  .ga-tooltip-separator {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-top: 4px;
    border-bottom-color: #c7c7c7;
  }

  .nav-tabs a {
    text-decoration: none;

    &.ga-active {
      background-color: red;
    }
  }
}
