<div ng-if="attributes.length === 0"
     translate>
  edit_feature_attributes_no_attr
</div>

<div class="form-group" ng-repeat="attr in attributes">
  <label ng-class="{
          'required': !attr.nillable,
         }"
         for="layer-attr-{{ attr.name }}">{{ attr.name}}</label>
  <div ng-switch="attr.type">
    <input ng-switch-when="int"
           id="layer-attr-{{ attr.name }}"
           class="form-control"
           ng-change="updateValue(attr.name)"
           ng-model="values[attr.name]"
           ng-model-options="{ debounce: 200 }"
           ng-required="!attr.nillable"
           type="number"
           step="1" />
    <input ng-switch-when="decimal"
           id="layer-attr-{{ attr.name }}"
           class="form-control"
           ng-change="updateValue(attr.name)"
           ng-model="values[attr.name]"
           ng-model-options="{ debounce: 200 }"
           ng-required="!attr.nillable"
           type="number"
           step="any" />
    <input ng-switch-default
           id="layer-attr-{{ attr.name }}"
           class="form-control"
           ng-change="updateValue(attr.name)"
           ng-model="values[attr.name]"
           ng-model-options="{ debounce: 200 }"
           ng-required="!attr.nillable"
           type="text" />
  </div>
</div>
