<div ga-popup="popupToggle"
     ga-popup-options="options.popupOptions">
  <div class="ga-features-popup">
    <div class="htmlpopup-content">
      <ul class="nav-tabs nav">
        <li ng-repeat="(layerBodId, v) in options.features">
          <a href=""
             ng-class="{'ga-active': options.currentTab === layerBodId}"
             ng-click="options.currentTab = layerBodId"
             translate>
            {{layerBodId}}
          </a>
        </li>
      </ul>

      <div class="grid"
           ng-repeat="(layerBodId, properties) in options.gridsOptions"
           ng-if="options.currentTab === layerBodId"
           ui-grid="options.gridsOptions[layerBodId]"
           ui-grid-exporter
           ui-grid-selection
           ui-grid-move-columns
           ui-grid-resize-columns></div>
    </div>
  </div>
</div>