<div ga-popup="popupToggle"
     ga-popup-options="options.popupOptions">
  <div class="gf3-features-popup">
    <div class="htmlpopup-content"
         ng-if="popupToggle"
         ga-tabs>
      <div ga-tab ga-tab-title="{{ layerId }}"
           ng-repeat="(layerId, features) in options.features"
           ng-if="features.length > 0">
        <div class="grid-container">
          <div class="grid"
               ultimate-datatable="options.gridsOptions[layerId]"></div>
        </div>
      </div>
    </div>
  </div>
</div>