# This file contains the values to generate the templates.
# Copy in config-dev.ini and config-prod.ini to correctly generate templates

# We must generate a template for all these devices. To do that, we must loop
# over this array. Thus devices cannot go into default.
# index is for desktop
devices = ["index", "embed", "mobile"]

api_url = "//api.disney.interne"
public_url = "//api.disney.interne/files"
apache_base_path = "/"
# This is needed as default on the portal
# Operator need to change it here if a change occur on mapinfra
default_topic_id = "01_cadastre"
translation_fallback_code = "fr"
# The languages array is used in a loop to build appcache
languages = ["fr", "de", "en"]
default_extent = "[550000.0, 210000.0, 620000.0, 245000.0]"
default_resolution = 50.0
resolutions = "[50.0, 20.0, 10.0, 5.0, 2.5, 2.0, 1.0, 0.5, 0.25, 0.1]"
default_epsg = "EPSG:21781"
default_epsg_extent = "[420000, 30000, 900000, 350000]"
external_wms_hostnames =  '["www.geoservice.apps.be.ch"]'
portal_name = "geojb"

public_allowed_url_regexp = "https?:\\/\\/api\\.disney.*"
public_url_regexp = "https?:\\/\\/api\\.disney.*"
admin_url_regexp = "^(ftp|http|https):\\/\\/(.*disney)"

default_elevation_model = 'MNT50'

activatedPlugins = ["communes"]

