<div class="popover-title" ng-click="controlDisplay($event)">
  <div class="ga-popup-title ga-truncate-text" translate="{{options.title}}"></div>
  <div class="ga-buttons hidden-print">
    <button class="ga-btn" title="{{titleHelp}}"
            ng-if="options.help"
            ga-help="{{options.help}}">
    </button>
    <button class="ga-btn icon-print" title="{{titlePrint}}"
            ng-if="options.showPrint"
            ng-click="print()">
    </button>
    <button class="ga-btn icon-minus" title="{{titleReduce}}"
            ng-if="options.showReduce"
            ng-click="reduce($event)">
    </button>
    <button class="ga-btn icon-remove" title="{{titleClose}}" ng-click="close($event)"></button>
  </div>
</div>
<div class="popover-content ga-popup-content" ng-if="!options.type" ng-transclude></div>


<div class="ga-popup-content">
  <div class="htmlpopup-container feature" ng-if="options.type === 'features'" ng-repeat="feature in options.results track by feature.id">
    <div class="htmlpopup-header">
      <span>{{feature.properties.label}}</span>
    </div>
    <div class="htmlpopup-content">
      <span>Information</span>
      <br>
      <table>
        <tr ng-repeat="(key, value) in feature.properties">
          <td class="cell-left" ng-if="key !== 'label'">{{key}}:</td>
          <td ng-if="key !== 'label'">{{value}}</td>
        </tr>
      </table>
    </div>
  </div>


  <div class="ng-binding ng-scope" ng-if="options.type === 'infobox'">
    <div class="legend-container">
      <div class="legend-header">
        <p class="bod-title"><span>{{options.layer.label}}</span></p>
        <p class="legend-abstract">{{options.layer.info.abstract}}</p>
      </div>
      <div class="legend-footer">
        <br>
        <span ng-if="options.layer.hasLegend">Legend</span><br>
        <img ng-src="{{options.layer.legendUrl}}" ng-if="options.layer.hasLegend"><br>
        <span>Information</span><br>
        <table>
          <tbody>
            <tr ng-repeat="(key, value) in options.layer.info">
              <td class="cell-left">{{key}}:</td>
              <td>{{value}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>